<div class="container">
    <div class="text">
    Création de Compte
   </div>
    <form (ngSubmit)="creerCompte()" #form="ngForm" action="#">
       <div class="form-row">
          <div class="input-data">
             <input type="text" required [(ngModel)]="livreur().nom">
             <div class="underline"></div>
             <label for="">Nom</label>
          </div>
          <div class="input-data">
             <input type="text" required [(ngModel)]="livreur().prenom">
             <div class="underline"></div>
             <label for="">Prenom</label>
          </div>
       </div>
       <div class="form-row">
          <div class="input-data">
             <input type="text" required [(ngModel)]="livreur().trigramme">
             <div class="underline"></div>
             <label for="">Trigramme</label>
          </div>
          <div class="input-data">
             <input type="text" required [(ngModel)]="livreur().photo">
             <div class="underline"></div>
             <label for="">Url vers votre Photo</label>
          </div>
       </div>
       <div class="form-row">
         <div class="input-data">
            <input type="text" required [(ngModel)]="livreur().telephone">
            <div class="underline"></div>
            <label for="">Numéro Téléphone</label>
         </div>
         <div class="input-data">
            <div class="input-data">
               <select name="livreurs" id="emp-select" >
                  <option value="">Emploi</option>
                 <option value ="livreur">Livreur</option>
                 <option value="planificateur">Planificateur</option>
               </select>
             </div>
             
         </div>
       </div>
          <div class="form-row submit-btn">
             <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="Creer Compte" (click)="creerCompte()">
             </div>
          </div>
          <div *ngIf="message" class="success-message">
            {{ message }}
        </div>
    </form>
    </div>