<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="dropdown">
    <button  id="google" class="dropbtn">Connexion</button>
     <mat-nav-list class="dropdown-content">
       <a  mat-list-item routerLink="/connexion" routerLinkActive="active">Client</a><br>
       <a  mat-list-item routerLink="/connexion" routerLinkActive="active">Pro</a><br>
     </mat-nav-list>
</div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/presentation" routerLinkActive="active" *ngIf="!getData()">Présentation</a>
      <a mat-list-item routerLink="/leaflet" *ngIf="getData()">Cartographie</a>
      <a mat-list-item routerLink="/lists" routerLinkActive="active" *ngIf="getData()">Listes</a>
      <a mat-list-item routerLink="/journee" routerLinkActive="active" *ngIf="getData()">Journee</a>
      <a mat-list-item routerLink="/livreur-travail" routerLinkActive="active" *ngIf="getData()">Profil</a>
      <a mat-list-item routerLink="/infos-tournee" routerLinkActive="active" *ngIf="getData()">infos</a>
    </mat-nav-list>
  </mat-drawer>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
  
</mat-drawer-container>