:host {
  display: block;

  > section.listes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
    margin-left: 50px;
  }

  // Style pour les listes
  mat-list {
    min-height: 1em;
    min-width: 10em;

    &:not(:has(mat-list-item)) {
      border: solid black 1px;
      border-radius: 4px;
    }

    mat-list-item {
      border: solid black 1px;
      min-width: 10em;
    }
  }

  mat-list {
    &.cdk-drop-list-dragging mat-list-item:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.cdk-drag-preview {
  // border: solid black 1px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
