<p>journee works!</p>
<button (click)="getCsvData()">Charger</button>

<button (click)="changeEtat()">CONFIRMER</button>
<section class="listes">
    <ng-container *ngFor="let sig of sigLists(); track sig; let i = index">
        <mat-list role="list" 
          cdkDropList 
          #L = "cdkDropList"
          [cdkDropListConnectedTo] = "sigDropListRefs()"
          (cdkDropListDropped)="dropIntoList(sig, $event)"
          >
          <div *ngIf="i === 0">Commandes ouvertes</div>
          <div *ngIf="i === 1">Commandes prevus</div>
          <ng-container *ngFor="let e of sig(); track sig">
            <mat-list-item cdkDrag [cdkDragData]="{sig: sig, value: e}">{{e}}</mat-list-item>
          </ng-container>
        </mat-list>
    </ng-container>
</section>
<hr>

@for (sig of sigLists(); track sig) {
    <code>{{sig() | json}}</code>
}


<div>{{commandes.length}}</div>
<div>{{commandeOuvert.length}}</div>
<div>{{commandePrevu.length}}</div>
<hr>

<div *ngFor="let tournee of tournees; let i = index">
  <div>tournee {{tournee.id}}</div>
  <app-tournee [camions]="camions" [entrepots]="entrepots" [livreurs]="livreurs" [commandes]="tournee.commandes"></app-tournee>
  <div class="container">
    <div class="describe">Commandes :</div>
    <div *ngFor="let commande of commandePrevu" >
        <label class="checkbox-group">
        <input type="checkbox" [value]="commande.commande.reference" [disabled]="commande.disabled&&i!==commande.tourneeID" (change)="toggleSelectionCommande(commande,tournee.commandes,i)"> {{ commande.commande.reference }}
        </label>
    </div>
  </div>
  <button (click)="removeTournee(i)">Remove</button>
</div>
<button (click)="addTournee()">Add Tournee</button>

<select (change)="selectionnerCommande($event)" id="commande-select">
  <option value="">Visualiser Commande</option>
  <option *ngFor="let commande of commandes">{{commande.reference}}</option>
</select>
<div *ngIf="commandeSelectionnee">
  <h2>Détails de la commande</h2>
  <table>
    <tr>
      <td>Référence</td>
      <td>{{ commandeSelectionnee.reference }}</td>
    </tr>
    <tr>
      <td>État</td>
      <td>{{ commandeSelectionnee.etat }}</td>
    </tr>
    <tr>
      <td>Commentaire</td>
      <td>{{ commandeSelectionnee.commentaire }}</td>
    </tr>
    <tr>
      <td>Ligne</td>
      <td>{{ commandeSelectionnee.ligne }}</td>
    </tr>
    <tr>
      <td>Note</td>
      <td>{{ commandeSelectionnee.note }}</td>
    </tr>
    <tr>
      <td>Date de Creation</td>
      <td>{{ commandeSelectionnee.dateDeCreation}}</td>
    </tr>
  </table>
</div>


<hr>
