<p>tournee works!</p>


<div class="tournee-list">
      <div>{{livreurs.length}}</div>
      <div>{{camions.length}}</div>
      <div>{{entrepots.length}}</div>
      <div>{{commandes.length}}</div>
    <div class="container">
      <div class="describe">Entrepot :</div>
      <select [(ngModel)]="entrepotChoisi">
        <option [value]="'default'">Choisir l'entrepot</option>
        <option *ngFor="let entrepot of entrepots" [value]="entrepot.nom">{{ entrepot.nom }}</option>
      </select>
    </div>
    <br>
      <div class="container">
        <div  class="describe">Livreurs :</div>
        <div *ngFor="let livreur of livreurs">
          <label *ngIf="livreur.entrepot === entrepotChoisi" class="checkbox-group">
            <input type="checkbox" [value]="livreur.nom" (change)="toggleSelection(livreur,livreursChoisi)"> {{ livreur.nom }}
          </label>
        </div>
      </div>
      <br>
      <div class="container">
        <div  class="describe">Camions :</div>
        <div *ngFor="let camion of camions">
            <label *ngIf="camion.entrepot === entrepotChoisi" class="checkbox-group">
            <input type="checkbox" [value]="camion.immatriculation" (change)="toggleSelection(camion,camionsChoisi)"> {{ camion.immatriculation }}
            </label>
        </div>
      </div>
      <!--
      <br>
      <div class="container">
        <div class="describe">Commandes :</div>
        <div *ngFor="let commande of commandes">
            <label class="checkbox-group">
            <input type="checkbox" [value]="commande.commande.reference" [checked]="commande.disabled" (change)="toggleSelectionCommande(commande,commandesChoisi)"> {{ commande.commande.reference }}
            </label>
        </div>
      </div>
      -->
    </div>
    <br>